<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<link rel="stylesheet" href="/HS/css/reset.css">
<link rel="stylesheet" href="/HS/css/layout.css">

<header id="header" th:fragment="header">
    <div class="header-cont">
        <div class="logo-box">
            <h1 class="main-logo">
                <a href="/">
                    <img class="logo" src="/HS/img/logo.png" alt="Logo" height="65px">
                </a>
            </h1>
            <ul class="menu-list">
                <div class="menu">
                    <a sec:authorize="isAuthenticated()" href="/logout">
                        <img src="/HS/img/login_icon.png" alt="logo">
                        <span>로그아웃</span>
                    </a>
                    <a  sec:authorize="isAnonymous()" href="/account/login">
                        <img src="/HS/img/login_icon.png" alt="logo">
                        <span>로그인</span>
                    </a>
                </div>
            </ul>
        </div>
        <div class="nav-box">
            <ul class="nav-list">
                <a sec:authorize="hasRole('ROLE_MEMBER')" href="/policy/interest">내 관심 정책</a>
                <a sec:authorize="!hasRole('ROLE_MEMBER')" onclick="alert('일반 회원 로그인 후 이용 가능합니다.')">내 관심 정책</a>
                <span>|</span>
                <a href="/policy/list">정책 검색</a>
                <span>|</span>
                <a sec:authorize="hasRole('ROLE_ENTERPRISE')" href="/enterprise/policy">정책 등록</a>
                <a sec:authorize="!hasRole('ROLE_ENTERPRISE')" onclick="alert('기업 회원 로그인 후 이용 가능합니다.')">정책 등록</a>
                <span>|</span>
                <a href="/center/noticeList">고객센터</a>
                <span>|</span>
                <a href="">사이트 소개</a>
            </ul>
            <div class="gradient-block"></div>
        </div>
    </div>
</header>