<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="header" th:fragment="header">
        <div class="header-cont">
            <div class="logo-box">
                <h1 class="main-logo">
                    <a href="">
                        <img class="logo" src="/img/lupy.jpeg" alt="Logo">
                        <span>Guma</span>
                    </a>
                </h1>
                <ul class="menu-list">
                    <div class="menu">
                        <a href="">
                            <img src="/img/login_icon.png" alt="">
                            <span>로그인</span>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="nav-box">
                <ul class="nav-list" >
                    <a href="">정책 검색</a>
                    <a href="/policy/interests">내 관심 정책</a>
                    <a href="">정책 등록</a>
                    <a href="">고객센터</a>
                    <a href="">사이트 소개</a>
                </ul>
                <div class="gradient-block"></div>
            </div>
        </div>
    </header>
</body>
</html>