<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정책 내용</title>
    <link rel="icon" href="/HS/img/favicon.ico">
    <link rel="stylesheet" href="/HS/css/reset.css">
    <link rel="stylesheet" href="/HS/css/layout.css">
    <link rel="stylesheet" href="/HS/css/detail.css">
    <link rel="stylesheet" href="/HS/css/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
<div id="wrapper">
    <!-------------------- 헤더 시작 ------------------->
   <div th:replace="~{fragment/header :: header}"></div>
    <!-------------------- 헤더 끝 --------------------->


    <!-------------------- 메인 시작 ------------------->
    <main class="detail-main">
    
        <div class="detail-cont">
        
            <div class="information-wrap">
                <span class="information-title">정책 정보</span>
            </div>


            <div class="policy-list-wrap">

                <!-- 정책 목록 -->
                <div class="policy-summary">

                    <div class="summary-title-wrap">
                        <div class="summary-title" th:text="${foundPolicy.name}">
                            정책 이름
                        </div>
                    </div>
                    
                    <div class="interest-btn-wrap">
                        <div class="interest-btn">
                            <div class="interest-result" value="true" th:if="${hasInterest}" >
                                관심목록 추가
                                <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                            </div>
                            <div class="interest-result" value="false" th:unless="${hasInterest}" >
                                관심목록 추가
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>    
                    </div>    
                    
                    <ul class="summary-list">
                        <li>
                            <div class="summary-field">정책분야</div>
                            <div class="summary-field-content"
                                 th:text="${foundPolicy.category}">주거</div>
                        </li>
                        <li>
                            <div class="summary-field">지역</div>
                            <div class="summary-field-content">
                                        <span th:each="region, iterStat : ${foundPolicy.region}">
                                            <span th:text="|${region}|"></span
                                            ><span th:if="${!iterStat.last}">,</span>
                                        </span>
                            </div>
                        </li>
                        <li>
                            <div class="summary-field">지원내용</div>
                            <div class="summary-field-content"
                                 th:text="${foundPolicy.shortDescription}">지원 내용 적어주세요</div>
                        </li>
                        <li>
                            <div class="summary-field">운영기간</div>
                            <div class="summary-field-content"
                                 th:text="|${foundPolicy.publishedDateTime} ~ ${foundPolicy.closedDateTime}|">2023.01.01~2023.12.31</div>
                        </li>
                        <li>
                            <div class="summary-field">신청기간</div>
                            <div class="summary-field-content"
                                 th:text="${foundPolicy.deadline}">상시모집</div>
                        </li>
                        <li>
                            <div class="summary-field">모집인원</div>
                            <div class="summary-field-content"
                                 th:text="${foundPolicy.recruitsNumber}">00명</div>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="policy-box">

                <div class="policy-img-wrap">
                    <img class="policy-img" src="/images/test-img.jpg"
                         th:src="${foundPolicy.thumbnail}">
                </div>


                <div class="policy-content-wrap">
                    <div class="policy-content" th:utext="${foundPolicy.content}">
                        <p>
                           텍스트 에디터 작성 내용
                        </p>
                    </div>
                </div>

                <!-- 파일 -->
                <div class="file-zone">
                    <ul class="file-list">
                        <li>
                            <i class="fa-regular fa-file" style="color: black;"></i>
                            <span>첨부파일&#09;&#58;</span>
                        </li>
                        <li>
                            <a th:href="|${foundPolicy.document}|" download>
                            <span th:text="${foundPolicy.fileName}">관련공고문.hwp</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 목록 버튼 -->
                <div class="button-wrap">
                    <button class="list-btn" onclick="location.href='/policy/list'">
                        목록으로
                    </button>
                </div>

                

            </div> <!-- policy-box 끝--> 
        
            <!-- TOP 버튼 -->
            <a href="#">
                <div class="gotop-btn">
                TOP
                </div>
            </a>    

        </div> <!-- 디테일 전체 끝-->

    </main>     
    <!-------------------- 메인 끝 --------------------->    


    <!-------------------- 풋터 시작 ------------------->
   <div th:replace="~{fragment/footer :: footer}"></div>
    <!-------------------- 풋터 끝 --------------------->
</div>

<script th:inline="javascript">
    // -------------------- 관심 정책 등록 --------------------
    let interest = [[${hasInterest}]];
    const interestBtn = document.querySelector(".interest-btn");
    const id = [[${foundPolicy.id}]];
    const interestResult = document.querySelector(".interest-result");
    

    interestBtn.addEventListener("click", () => {
            fetch(`/policy/detail/${id}?interest=${interest}`, {
            method: "POST",
            headers: {"Content-Type": "application/json"}
            })
            .then(response => {
                if(response.status >= 200 && response.status < 400) {
                     if (interest == true) {
                        interestResult.innerHTML = "";
                        interestTag =
                                    `<div class="interest-result" value="false">
                                    관심목록 추가
                                     <i class="fa-regular fa-star"></i>
                                     </div>`
                        interestResult.innerHTML = interestTag;
                        alert('관심목록에서 삭제되었습니다.');
                    } 
                    if (interest == false) {
                        interestResult.innerHTML = "";
                        interestTag =
                                    `<div class="interest-result" value="true" >
                                    관심목록 추가
                                    <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                                     </div>`
                        interestResult.innerHTML = interestTag;
                        alert('관심목록에 추가되었습니다.');
                    }
                } if (response.status >= 400) {
                    alert('일반 회원 로그인 후 이용 가능합니다.');
                }
                interest == true ? interest=false : interest=true; 
            })
            .catch(error => {
            });
    });
    

</script>

</body>
</html>