<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정책 리스트</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
<div id="wrapper">
    <!-------------------- 헤더 시작 ------------------->
    <div th:replace="~{fragment/header :: header}"></div>
    <!-------------------- 헤더 끝 --------------------->


    <!-------------------- 메인 시작 ------------------->
        <main class="search-main">
            <div class="title-wrap">
                <span class="title">
                    정책 통합검색
                </span>
            </div>    
            

            <div class="policy-search-wrap"> <!---여기 안으로 청년정책 검색 넣었는데도 가운데랑 안 맞음--->

                <div class="sub-title-1">
                    정책 검색
                </div>

                <!--통합검색 테두리 안 -->
                <div class="policy-search-cont">

                    <div class="simple-cont">
                        <!--정책이름 및 내용-->
                        <div class="policy-name">
                            <div class="search-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                정책이름
                            </div>
                            <div class="policy-name-input-wrap">
                                <input type="text" class="policy-name-input" placeholder="검색 내용 입력하세요.">
                            </div>
                        </div>


                        <!--나이 입력-->
                        <div class="policy-age">
                            <div class="search-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                연령
                            </div>
                            <div class="policy-age-input-wrap">
                                <input type="text" pattern="[0-9]+" class="policy-age-input" style="height: 30px;" size="25%" value placeholder="만 나이를 입력하세요.  예) 25">
                            </div>
                        </div>


                        <!--정책 분야-->
                        <div class="policy-area">

                            <div class="search-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                정책분야
                                <div class="overlap">(중복선택 가능)</div>
                            </div>

                            <div class="area-select-box">
                                <ul class="area-list">
                                    <div class="area-all-check"> <!---여기만 div로 작성한 이유---->
                                        전체
                                    </div>
                                    <li>
                                        <label>공간</label>
                                        <input type="checkbox" data-order="1" value="space" hidden>
                                    </li>

                                    <li>
                                        <label>교육</label>
                                        <input type="checkbox" data-order="2" value="education" hidden>
                                    </li>

                                    <li>
                                        <label>금융</label>
                                        <input type="checkbox" data-order="3" value="finance" hidden>
                                    </li>

                                    <li>
                                        <label>생활지원</label>
                                        <input type="checkbox" data-order="4" value="living" hidden>
                                    </li>

                                    <li>
                                        <label>건강</label>
                                        <input type="checkbox" data-order="5" value="health" hidden>
                                    </li>

                                    <li>
                                        <label>일자리</label>
                                        <input type="checkbox" data-order="6" value="job" hidden>
                                    </li>

                                    <li>
                                        <label>주거</label>
                                        <input type="checkbox" data-order="7" value="house" hidden>
                                    </li>

                                    <li>
                                        <label>진로</label>
                                        <input type="checkbox" data-order="8" value="career" hidden>
                                    </li>

                                    <li>
                                        <label>창업</label>
                                        <input type="checkbox" data-order="9" value="startup" hidden>
                                    </li>

                                    <li>
                                        <label>문화·예술</label>
                                        <input type="checkbox" data-order="10 " value="culture" hidden>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="policy-region">
                            <div class="search-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                지역
                                <div class="overlap">(중복선택 가능)</div>
                            </div>

                            <div class="region-select-box">
                                <ul class="region-list">
                                    <div class="region-all-check">
                                        전체
                                    </div>

                                    <li>
                                        <label>서울</label>
                                        <input type="checkbox" data-order="1" value="Seoul" hidden>
                                    </li>

                                    <li>
                                        <label>부산</label>
                                        <input type="checkbox" data-order="2" value="Busan" hidden>
                                    </li>

                                    <li>
                                        <label>대구</label>
                                        <input type="checkbox" data-order="3" value="Daegu" hidden>
                                    </li>

                                    <li>
                                        <label>인천</label>
                                        <input type="checkbox" data-order="4" value="Incheon" hidden>
                                    </li>

                                    <li>
                                        <label>광주</label>
                                        <input type="checkbox" data-order="5" value="Gwangju" hidden>
                                    </li>

                                    <li>
                                        <label>대전</label>
                                        <input type="checkbox" data-order="6" value="Daejun" hidden>
                                    </li>

                                    <li>
                                        <label>울산</label>
                                        <input type="checkbox" data-order="7" value="Ulsan" hidden>
                                    </li>

                                    <li>
                                        <label>경기</label>
                                        <input type="checkbox" data-order="8" value="Gyungi" hidden>
                                    </li>

                                    <li>
                                        <label>강원</label>
                                        <input type="checkbox" data-order="9" value="Gangwon" hidden>
                                    </li>

                                    <li>
                                        <label>충북</label>
                                        <input type="checkbox" data-order="10" value="ChungBuk" hidden>
                                    </li>

                                    <li>
                                        <label>충남</label>
                                        <input type="checkbox" data-order="11" value="ChungNam" hidden>
                                    </li>

                                    <li>
                                        <label>전북</label>
                                        <input type="checkbox" data-order="12" value="JeanBuk" hidden>
                                    </li>

                                    <li>
                                        <label>전남</label>
                                        <input type="checkbox" data-order="13" value="JeanNam" hidden>
                                    </li>

                                    <li>
                                        <label>경북</label>
                                        <input type="checkbox" data-order="14" value="GyungBuk" hidden>
                                    </li>

                                    <li>
                                        <label>경남</label>
                                        <input type="checkbox" data-order="15" value="GyungNam" hidden>
                                    </li>

                                    <li>
                                        <label>제주</label>
                                        <input type="checkbox" data-order="16" value="Jeju" hidden>
                                    </li>

                                    <li>
                                        <label>세종</label>
                                        <input type="checkbox" data-order="17" value="Sejong" hidden>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--------------------------------- 상세 조건 check 박스 ------------------------------>
                    <div class="detail-cont">

                        <div class="detail-check">
                            <div class="detail-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                취업상태
                                <span class="overlap">(중복선택 가능)</span>
                            </div>

                            <div>
                                <div class="job-state-open">
                                    <button type="button">취업 상태 선택
                                        <!-- <span>열기</span> -->
                                    </button>
                                </div>
                                <ul class="job-state-list">
                                    <li class="state-all-check">
                                        <div>
                                            전체
                                        </div>
                                    </li>
                                    <li>
                                        <label>재직자</label>
                                        <input type="checkbox" data-order="1" value="worker" hidden>
                                    </li>
                                    <li>
                                        <label>자영업자</label>
                                        <input type="checkbox" data-order="2" value="employer" hidden>
                                    </li>
                                    <li>
                                        <label>미취업자</label>
                                        <input type="checkbox" data-order="3" value="jobless" hidden>
                                    </li>
                                    <li>
                                        <label>프리랜서</label>
                                        <input type="checkbox" data-order="4" value="freelancer" hidden>
                                    </li>
                                    <li>
                                        <label>일용근로자</label>
                                        <input type="checkbox" data-order="5" value="daily" hidden>
                                    </li>
                                    <li>
                                        <label>(예비)창업자</label>
                                        <input type="checkbox" data-order="6" value="founder" hidden>
                                    </li>
                                    <li>
                                        <label>단기근로자</label>
                                        <input type="checkbox" data-order="7" value="short" hidden>
                                    </li>
                                    <li>
                                        <label>기타</label>
                                        <input type="checkbox" data-order="8" value="other" hidden>
                                    </li>
                                    <li class="no-Limit">
                                        <label>제한없음</label>
                                        <input type="checkbox" data-order="9" value="noLimit" hidden>
                                    </li>
                                </ul>
                            </div>
                        </div>




                        <div class="detail-check">
                            <div class="detail-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                학력
                                <span class="overlap">(중복선택 가능)</span>
                            </div>

                            <div>
                                <div class="education-level-open">
                                    <button type="button">학력 선택
                                        <!-- <span>열기</span> -->
                                    </button>
                                </div>
                                <ul class="education-level-list">
                                    <li class="level-all-check">
                                        전체
                                    </li>
                                    <li>
                                        <label >고졸 미만</label>
                                        <input type="checkbox" data-order="1" value="preHS" hidden >
                                    </li>
                                    <li>
                                        <label>고교 재학</label>
                                        <input type="checkbox" data-order="2" value="hsEnroll" hidden >
                                    </li>
                                    <li>
                                        <label>고졸 예정</label>
                                        <input type="checkbox" data-order="3" value="hsExp" hidden>
                                    </li>
                                    <li>
                                        <label>고교 졸업</label>
                                        <input type="checkbox" data-order="4" value="hsGrad" hidden >
                                    </li>
                                    <li>
                                        <label>대학 재학</label>
                                        <input type="checkbox" data-order="5" value="univEnroll" hidden>
                                    </li>
                                    <li>
                                        <label>대졸 예정</label>
                                        <input type="checkbox" data-order="6" value="univExp" hidden>
                                    </li>
                                    <li>
                                        <label>대학 졸업</label>
                                        <input type="checkbox" data-order="7" value="univGrad" hidden>
                                    </li>
                                    <li>
                                        <label>석·박사</label>
                                        <input type="checkbox" data-order="8" value="advanced" hidden>
                                    </li>
                                    <li class="no-Limit">
                                        <label>제한없음</label>
                                        <input type="checkbox" data-order="9" value="noLimit" hidden>
                                    </li>
                                </ul>
                            </div>
                        </div>



                        <div class="detail-check">
                            <div class="detail-title">
                                <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                                특정계층
                                <span class="overlap">(중복선택 가능)</span>
                            </div>

                            <div>
                                <div class="special-area-open">
                                    <button type="button">특정계층 선택
                                        <!-- <span>열기</span> -->
                                    </button>
                                </div>
                                <ul class="special-list">
                                    <li class="special-all-check">
                                        전체
                                    </li>
                                    <li>
                                        <label>저소득층</label>
                                        <input type="checkbox" data-order="1" value="lowInc" hidden>
                                    </li>
                                    <li>
                                        <label>장애인</label>
                                        <input type="checkbox" data-order="2" value="disability" hidden>
                                    </li>
                                    <li>
                                        <label>군인</label>
                                        <input type="checkbox" data-order="3" value="military" hidden>
                                    </li>
                                    <li>
                                        <label>농업인</label>
                                        <input type="checkbox" data-order="4" value="farmer" hidden>
                                    </li>
                                    <li>
                                        <label>지역인재</label>
                                        <input type="checkbox" data-order="5" value="localTalent" hidden>
                                    </li>
                                    <li class="no-Limit">
                                        <label>제한없음</label>
                                        <input type="checkbox" data-order="6" value="noLimit" hidden>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- 상세조건 끝  -->
                </div><!-- 통합검색 테두리 안  -->

                <div class="button-wrap">
                    <button type="reset" class="reset-btn">초기화</button>
                    <button type="submit" class="search-btn">검색</button>
                    <button type="button" class="setting-btn">내 정보 설정</button>
                </div>
            </div>

            <!-- 정책 검색 결과 wrap -->
            <div class="policy-result-wrap">

                <div class="policy-result-header">
                    <div class="sub-title-2">
                        정책 검색결과
                        <span class="policy-result-count" th:text="${paging.boardCount}">00</span>
                        건
                    </div>
                    <div class="srchSortOrder-wrap">
                        <input type="radio" id="sort1" name="srchSort" class="srchSortOrder" value="true" checked>
                        <label for="sort1">최신순</label>
                        <input type="radio" id="sort2" name="srchSort" class="srchSortOrder" value="false">
                        <label for="sort2">조회순</label>
                        <select class="page-category">
                            <option value="6" selected="">6개</option>
                            <option value="12">12개</option>
                        </select>
                        <button type="button" class="sort-btn" onclick="">정렬</button>
                    </div>
                </div>


                <ul class="policy-list">
                    <li th:each="policy : ${policies}">
                        <!-- 정책 이미지 -->
                        <a th:href="|/policy/detail/${policy.id}|"><img class="policy-img" th:src="${policy.thumbnail}"></a>

                        <!-- 정책 목록 -->
                        <div class="policy-summary">

                            <div class="summary-title">
                                <a th:href="|/policy/detail/${policy.id}|" th:text="${policy.name}">정책이름</a>
                            </div>

                            <ul class="summary-list">
                                <li>
                                    <div class="summary-field">정책분야</div>
                                    <div class="summary-field-content" th:text="${policy.category}">주거</div>
                                </li>
                                <li>
                                    <div class="summary-field">지역</div>
                                    <div class="summary-field-content">
                                        <span th:each="region, iterStat : ${policy.region}">
                                            <span th:text="|${region}|"></span>
                                            <span th:if="${!iterStat.last}">,&#32;</span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="summary-field">지원내용</div>
                                    <div class="summary-field-content" th:text="${policy.shortDescription}">지원내용</div>
                                </li>
                                <li>
                                    <div class="summary-field">운영기간</div>
                                    <div class="summary-field-content" th:text="|${policy.publishedDateTime}~${policy.closedDateTime}|">2023.01.01~2023.12.31</div>
                                </li>
                                <li>
                                    <div class="summary-field">신청기간</div>
                                    <div class="summary-field-content" th:text="${policy.deadline}">상시 모집</div>
                                </li>
                                <li>
                                    <div class="summary-field">모집인원</div>
                                    <div class="summary-field-content" th:text="${policy.recruitsNumber}">00명</div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>


                <div class="paging-wrap">
                    <button class="prev-btn">&#60;</button>
                    <button class="paging-btn"
                            th:each="num : ${#numbers.sequence((paging.startPage)-1, (paging.endPage)-1)}"
                            th:onclick="|sendData(${(paging.startPage) + num})|"
                            th:text="${(paging.startPage) + num}">
                    </button>
                    <button class="next-btn" th:onclick="|sendData(${(paging.endPage)+1})|">&#62;</button>
                </div>

            </div><!-------------------- 정책 결과 wrap --------------------->
        </main>
    <!-------------------- 메인 끝 --------------------->    


    <!-------------------- 풋터 시작 ------------------->
    <div th:replace="~{fragment/footer :: footer}"></div>
    <!-------------------- 풋터 끝 --------------------->
</div>



<script th:inline="javascript">
    // ---------------------- 일반 검색 조건 -------------------------

    // 정책이름 및 내용
    const policyNameInput = document.querySelector(".policy-name-input");
    // 나이 입력
    const policyAgeInput = document.querySelector(".policy-age-input")

    // 정책분야 
    const areaChkMap = new Map();
    const areaAllCheck = document.querySelector('.area-all-check');
    const areaList = document.querySelectorAll(".area-list li");


    // 선택 O -> Map 값 저장
    // 선택 X -> Map 값 삭제
    areaList.forEach(li => {
        li.addEventListener("click", () => {
            li.classList.toggle("checked");
            const input = li.querySelector("input");
            if (areaChkMap.has(input.dataset.order)) {
                areaChkMap.delete(input.dataset.order, input.value);
            } else {
                areaChkMap.set(input.dataset.order, input.value);
            }
        });
    })


    // 다 선택 된 후 전체 선택 -> 체크 X
    // 1개 이상 선택 된 후 선택 시 -> 다 체크 O
    areaAllCheck.addEventListener("click", () => {
        if (areaChkMap.size === 10) {
            areaList.forEach(li => {
                li.classList.remove("checked");
            });
            areaChkMap.clear();
        } else {
            areaList.forEach(li => {
                li.classList.add("checked");
                const input = li.querySelector("input");
                areaChkMap.set(input.dataset.order, input.value);
            });
        }
    })





    // 지역
    const regionChkMap = new Map();
    const regionAllCheck = document.querySelector('.region-all-check');
    const regionList = document.querySelectorAll(".region-list li");

    regionList.forEach(li => {
        li.addEventListener("click", () => {
            li.classList.toggle("checked");
            const input = li.querySelector("input");
            if (regionChkMap.has(input.dataset.order)) {
                regionChkMap.delete(input.dataset.order, input.value);
            } else {
                regionChkMap.set(input.dataset.order, input.value);
            }
        });
    })


    regionAllCheck.addEventListener("click", () => {
        if (regionChkMap.size === 17) {
            regionList.forEach(li => {
                li.classList.remove("checked");
            })
            regionChkMap.clear();
        } else {
            regionList.forEach(li => {
                li.classList.add("checked");
                const input = li.querySelector('input');
                regionChkMap.set(input.dataset.order, input.value);
            });
        }
    })
    // -------------------- 상세 조건 검색 ---------------------------



    // --------------------취업상태 상세조건--------------------------
    const jobStateMap = new Map();
    const jobStatebtn = document.querySelector(".job-state-open > button")

    const jobStateList = document.querySelector(".job-state-list")

    // (전체, 제한없음 제외) 8개 버튼
    const childStateList = document.querySelectorAll(".job-state-list li:not(:first-child):not(:last-child)")

    // 전체 버튼
    const stateAllCheck = document.querySelector(".state-all-check");

    // 제한없음 버튼
    const noLimit1 = document.querySelector(".job-state-list > .no-Limit");

    
    jobStatebtn.addEventListener("click", () => {
        jobStateList.classList.toggle("open-close")
    })


    childStateList.forEach(li => {
        li.addEventListener("click", () => {
            if(noLimit1.classList.contains("checked")){
                noLimit1.classList.remove("checked");
                jobStateMap.clear();
            }

            li.classList.toggle("checked");
            const input = li.querySelector("input");
            if (jobStateMap.has(input.dataset.order)) {
                jobStateMap.delete(input.dataset.order, input.value);
            } else {
                jobStateMap.set(input.dataset.order, input.value);
            }
        })
    });





    noLimit1.addEventListener("click", () => {
        if(noLimit1.classList.contains("checked")) {
            noLimit1.classList.remove("checked")
            jobStateMap.clear()
        } else {
            childStateList.forEach(target => {
                target.classList.remove("checked");
            })
            jobStateMap.clear();

            const input = noLimit1.querySelector("input");
            jobStateMap.set(input.dataset.order, input.value);
            noLimit1.classList.add("checked")
        }
    })



    stateAllCheck.addEventListener("click", () => {
        noLimit1.classList.remove("checked")
        if (jobStateMap.size === 8) {
            jobStateMap.clear();
            childStateList.forEach(li => {
                li.classList.remove("checked");
            })
        } else {
            jobStateMap.clear();
            childStateList.forEach(li => {
                li.classList.add("checked");
                const input = li.querySelector('input');
                jobStateMap.set(input.dataset.order, input.value);
            });
        }
    })





    // --------------------학력 상세조건--------------------
    const educationLevelMap = new Map();
    const educationLevelList = document.querySelector(".education-level-list")
    
    // 학력 선택 버튼
    const educationLevelBtn = document.querySelector(".education-level-open > button")
    
    // 전체 버튼
    const levelAllCheck = document.querySelector(".level-all-check");
    
    // (전체, 제한없음 제외) 8개 버튼
    const childLevelList = document.querySelectorAll(".education-level-list li:not(:first-child):not(:last-child)") 
   
    // 제한없음 버튼
    const noLimit2 = document.querySelector(".education-level-list > .no-Limit");



    // 학력 선택 버튼 클릭
    educationLevelBtn.addEventListener("click", () => {
        educationLevelList.classList.toggle("open-close")
    })
    

    // (전체, 제한없음 제외)하나의 버튼을 클릭할 때, 제한없음 버튼이 클릭 여부로 조건 걸기
    childLevelList.forEach(li => {
        li.addEventListener("click", () => {
            // 하나의 버튼 클릭 할 때, 제한없음 클릭 되어 O -> 제한없음 체크 해제, 제한없음 값 제거
            if(noLimit2.classList.contains("checked")){
                noLimit2.classList.remove("checked");
                educationLevelMap.clear();
            }
            // 해당 버튼 체크, 해당 값 추가 
            li.classList.toggle("checked");
            const input = li.querySelector("input");
            if (educationLevelMap.has(input.dataset.order)) {
                educationLevelMap.delete(input.dataset.order, input.value);
            } else {
                educationLevelMap.set(input.dataset.order, input.value);
            }
        });
    });


    noLimit2.addEventListener("click", () => {
        // 제한없음 체크 O -> 체크 해제, 값 지움
        if(noLimit2.classList.contains("checked")){
            noLimit2.classList.remove("checked");
            educationLevelMap.clear();
        } else {
            // 제한없음 체크 X -> 체크 표시
            childLevelList.forEach(target => {
                target.classList.remove("checked");
            });
            // 이전에 체크 되어 있던 값들 제거
            educationLevelMap.clear();

            // 제한없음 체크 되어 있으므로, 제한없음 값 추가
            const input = noLimit2.querySelector("input");
            educationLevelMap.set(input.dataset.order, input.value);
            noLimit2.classList.add("checked")
        }
    })


    levelAllCheck.addEventListener("click", () => {
        // 제한없음 표시 되어 O -> 제한 없음 표시 제거
        noLimit2.classList.remove("checked");
        if (educationLevelMap.size === 8) {
            educationLevelMap.clear();
            childLevelList.forEach(li => {
                li.classList.remove("checked");
            })
        } else { 
            educationLevelMap.clear();
            childLevelList.forEach(li => {
                li.classList.add("checked");
                const input = li.querySelector('input');
                educationLevelMap.set(input.dataset.order, input.value);
            });
        }
    })




    // --------------------특정계층 상세조건--------------------
    const specialAreaMap = new Map();
    const specialAreaList = document.querySelector(".special-list")

    // 특정계층 선택 버튼
    const specialAreaBtn = document.querySelector(".special-area-open > button")
    
    // (전체, 제한없음 제외) 8개 버튼
    const childAreaList = document.querySelectorAll(".special-list li:not(:first-child):not(:last-child)")
    
    // 전체 버튼
    const specialAreaAllCheck = document.querySelector(".special-all-check")

    // 제한없음 버튼
    const noLimit3 = document.querySelector(".special-list > .no-Limit");



    specialAreaBtn.addEventListener("click", () => {
        specialAreaList.classList.toggle("open-close")
    })


    childAreaList.forEach(li => {
        li.addEventListener("click", () => {
            if(noLimit3.classList.contains("checked")){
                noLimit3.classList.remove("checked");
                specialAreaMap.clear();
            }
           li.classList.toggle("checked");
            const input = li.querySelector("input");
            if (specialAreaMap.has(input.dataset.order)) {
                specialAreaMap.delete(input.dataset.order, input.value);
            } else {
                specialAreaMap.set(input.dataset.order, input.value);
            }
        })
    });



    noLimit3.addEventListener("click", () => {
        if(noLimit3.classList.contains("checked")) {
            noLimit3.classList.remove("checked")
            specialAreaMap.clear()
        } else {
            childAreaList.forEach(target => {
                target.classList.remove("checked");
            })
            specialAreaMap.clear();

            const input = noLimit3.querySelector("input");
            specialAreaMap.set(input.dataset.order, input.value);
            noLimit3.classList.add("checked")
        }
    })



    specialAreaAllCheck.addEventListener("click", () => {
        noLimit3.classList.remove("checked")
        if (specialAreaMap.size === 5) {
            specialAreaMap.clear();
            childAreaList.forEach(li => {
                li.classList.remove("checked");
            })
        } else {
            specialAreaMap.clear();
            childAreaList.forEach(li => {
                li.classList.add("checked");
                const input = li.querySelector('input');
                specialAreaMap.set(input.dataset.order, input.value);
            });
        }
    })



    // -------------------- 초기화 --------------------
    /** 초기화 함수 */
    function reset(List, Map) {
        List.forEach(li => {
            li.classList.remove("checked");
        })
        Map.clear();
    };

    
    // 초기화 버튼
    const resetBtn = document.querySelector(".reset-btn");
    resetBtn.addEventListener("click", () => {
        reset(areaList,areaChkMap);
        reset(regionList ,regionChkMap);
        reset(childStateList, jobStateMap);
        reset(childLevelList, educationLevelMap);
        reset(childAreaList, specialAreaMap);

        // educationLevelMap의 값을 지웠으므로
        // 제한없음 버튼이 클릭 되어 있으면 체크 표시 해제만 시켜 주면 된다.
        noLimit1.classList.remove("checked");
        noLimit2.classList.remove("checked");
        noLimit3.classList.remove("checked");

        document.querySelector(".policy-age-input").value="";
        document.querySelector(".policy-name-input").value="";
        })



    //--------------------- 내 정보 설정----------------------

    const member = [[${memberInterest}]]

    function settingButtonClick() {
    reset(areaList, areaChkMap);
    reset(regionList, regionChkMap);
    reset(childStateList, jobStateMap);
    reset(childLevelList, educationLevelMap);
    reset(childAreaList, specialAreaMap);

    noLimit1.classList.remove("checked");
    noLimit2.classList.remove("checked");
    noLimit3.classList.remove("checked");

    document.querySelector(".policy-name-input").value = "";
    document.querySelector(".policy-age-input").value = member.age;
    
    jobStateList.classList.toggle("open-close");
    educationLevelList.classList.toggle("open-close");
    specialAreaList.classList.toggle("open-close");


    const AllStateList = document.querySelectorAll(".job-state-list li:not(:first-child)")
    const AllLevelList = document.querySelectorAll(".education-level-list li:not(:first-child)")
    const AllAreaList = document.querySelectorAll(".special-list li:not(:first-child)")    

    areaList.forEach(li => {
        const input = li.querySelector('input');
        if (input.value == member.category) {
            li.classList.add("checked");
            areaChkMap.set(input.dataset.order, input.value);
            }
        });
    

    regionList.forEach(li => {
        const input = li.querySelector('input');
        if (input.value == member.region) {
            li.classList.add("checked");
            regionChkMap.set(input.dataset.order, input.value);
            }
        });
    

    AllStateList.forEach(li => {
        const input = li.querySelector('input');
        if (input.value == member.jobState) {
            li.classList.add("checked");
            jobStateMap.set(input.dataset.order, input.value);
            }
        });
    

    AllLevelList.forEach(li => {
        const input = li.querySelector('input');
        if (input.value == member.educationLevel) {
            li.classList.add("checked");
            educationLevelMap.set(input.dataset.order, input.value);
            }
        });

    
    AllAreaList.forEach(li => {
        const input = li.querySelector('input');
        if (input.value == member.specificClass) {
            li.classList.add("checked");
            specialAreaMap.set(input.dataset.order, input.value);
            }
        });
    }

    const settingBtn = document.querySelector(".setting-btn");
    settingBtn.addEventListener("click", settingButtonClick);


     // --------------------Fetch 사용--------------------
    document.querySelector(".search-btn").addEventListener("click", () => {
        if (!(/^[0-9]+$/.test(policyAgeInput.value) || policyAgeInput.value === "")) {
            alert('연령에는 숫자만 입력 해주세요.')
        } else if(!(policyNameInput.value.size<20 || policyNameInput.value === "")) {
            alert('정치이름 및 내용은 20글자 미만으로 입력해주세요.')
        } else {
            sendData(1)
        }
    });

    document.querySelector(".sort-btn").addEventListener("click", () => sendData(1)); // 꼭 1?
    

        function sendData(page) {

            const sizeSelector = document.querySelector('.page-category');
            const size = sizeSelector.options[sizeSelector.selectedIndex].value;

            const radioButtons = document.querySelectorAll('.srchSortOrder'); // 라디오 버튼 요소들을 가져옴
            let sort = ''; // 선택한 값을 저장할 변수

            radioButtons.forEach(function(radioButton) {
              if (radioButton.checked) {
                sort = radioButton.value; // 체크된 라디오 버튼의 값을 변수에 할당
              }
            });

            // 데이터 객체 생성
           const areaList = [];
            areaChkMap.forEach((value, key) => (
                areaList.push(value)
            ));

            const regionList = [];
            regionChkMap.forEach((value, key) => (
                regionList.push(value)
            ));

            const jobStateList = [];
            jobStateMap.forEach((value, key) => (
                jobStateList.push(value)
            ));

            const educationLevelList = [];
            educationLevelMap.forEach((value, key) => (
                educationLevelList.push(value)
            ));

            const specialAreaList = [];
            specialAreaMap.forEach((value, key) => (
                specialAreaList.push(value)
            ));

            const dataToSend = {
                name: policyNameInput.value,
                age : policyAgeInput.value,
                area: areaList,
                region: regionList,
                jobState: jobStateList,
                educationLevel: educationLevelList,
                specificClass: specialAreaList
            };


            // fetch를 사용하여 서버로 데이터 전송
            fetch(`/policy/list?size=${size}&page=${page}&sort=${sort}`, {
                method: "POST",
                headers: {
                     "Content-Type": "application/json"  // 전송할 데이터의 형식 설정 (JSON)
                },
                body: JSON.stringify(dataToSend)  // 데이터 객체를 JSON 문자열로 변환하여 전송
            })
            .then(response => response.json())  // 서버로부터의 JSON 응답 처리
            .then(data => {
                if(data.statusCode >= 500) {
                    alert("서버에러입니다.")
                } else if(data.statusCode === 400) {
                    alert(data.statusCode + "에러 발생")
                    console.log(data.field + "의" + data.errorCode + "에러 입니다.\n" 
                          + data.message)
                } else if (data.statusCode >= 200 && data.statusCode < 300  ) {
                console.log("서버 응답 데이터:", data);  // 서버로부터 받은 데이터
                createNewPolicyList(data.policyDTO);
                createBoardCount(data.pageDTO)
                createPagingButton(data.pageDTO);
                }
                else {
                    alert("알 수 없는 에러입니다.")
                    console.log(data)
                }
             })
        }           
</script>



<script>
    // ------------------- 정책 리스트 생성 -------------------
        function createNewPolicyList(policies) {
            const policyList = document.querySelector(".policy-list");
            policyList.innerText = "";
            policies.forEach(policy => {
                const newPolicyTag =
                    `<!-- 정책 이미지 -->
                    <a href="/policy/detail/${policy.id}"><img class="policy-img" src="${policy.filePath}"></a>

                    <!-- 정책 목록 -->
                    <div class="policy-summary">

                        <div class="summary-title">
                            <a href="/policy/detail/${policy.id}">${policy.name}</a>
                        </div>

                        <ul class="summary-list">
                            <li>
                                <div class="summary-field">정책분야</div>
                                <div class="summary-field-content">${policy.category}</div>
                            </li>
                            <li>
                                <div class="summary-field">지역</div>
                                <div class="summary-field-content">${policy.region}</div>
                            </li>
                            <li>
                                <div class="summary-field">지원내용</div>
                                <div class="summary-field-content">${policy.shortDescription}</div>
                            </li>
                            <li>
                                <div class="summary-field">운영기간</div>
                                <div class="summary-field-content">${policy.publishedDateTime} ~ ${policy.closedDateTime}</div>
                            </li>
                            <li>
                                <div class="summary-field">상시모집</div>
                                <div class="summary-field-content">${policy.deadline}</div>
                            </li>
                            <li>
                                <div class="summary-field">모집인원</div>
                                <div class="summary-field-content">${policy.recruitsNumber}</div>
                            </li>
                        </ul>
                    </div>`
                    const li = document.createElement("li");
                    policyList.appendChild(li)
                    li.innerHTML = newPolicyTag;
            });
        }

        
        // ------------------- 정책 검색 결과 건수 ----------------------
        function createBoardCount(data) {
            const boardResult = document.querySelector(".sub-title-2");
            boardResult.innerHTML = "";
            newBoardResultTag = 
                        `정책 검색결과
                        <span class="policy-result-count">${data.boardCount}</span>
                        건`
            boardResult.innerHTML = newBoardResultTag;
        }




        // ------------------- 페이지 버튼 리스트 생성 -------------------
       function createPagingButton(data) {
            const pagingButtonList = document.querySelector(".paging-wrap");
            pagingButtonList.innerText = "";
            // newPolicyTage -> 이전 버튼 + 페이지 버튼 + 다음 버튼을 담는다.
            let newPolicyTag = `<button class="prev-btn" onclick="sendData(${data.startPage === 1 ? 1 : data.startPage-1})">&#60;</button>`
            for (let i = data.startPage; i <= data.endPage; i++) {
                let checked = "" ;
                if(data.page == i) {
                    checked = "checked"
                }
                newPolicyTag += `<button class="paging-btn ${checked}" onclick="sendData(${i})">${i}</button>`;

            }
            newPolicyTag += `<button class="next-btn" onclick="sendData(${data.endPage == data.maxPage ? data.maxPage : data.endPage+1})">&#62;</button>`
            pagingButtonList.innerHTML = newPolicyTag;
        }
</script>

</body>
</html>