<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 페이지</title>

    <!-- ----- 공통 ----- -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
<!-- ------------------ 헤더 ----------------- -->
<div th:replace="~{templates/layout/header :: header}"></div>


<!-- ------------------ 메인 시작 ----------------- -->


<!-- ------------------ 메인  끝  ----------------- -->


<!-- ------------------ 풋터 ----------------- -->
<div th:replace="~{templates/layout/header :: footer}"></div>

</body>
</html>