<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>

    <!-- 메인 시작 -->
    <main>
    
        <div class="detail-cont">
        
            <div class="information-wrap">
                <div class="information-title">
                    정책 정보
                </div>
            </div>


            <div class="policy-list-wrap">

                <!-- 정책 목록 -->
                <div class="policy-summary">

                    <div class="summary-title">
                        청년 주거 길잡이 2기 참여자 모집
                    </div>

                    <ul class="summary-list">
                        <li>
                            <div class="summary-field">정책분야</div>
                            <div class="summary-field-content">주거</div>
                        </li>
                        <li>
                            <div class="summary-field">지원내용</div>
                            <div class="summary-field-content">지ㅣㅏ정라ㅣ저ㅣㅏ러지ㅏㅓㅇ라ㅣㅓ지ㅏㅓ라ㅣ정리ㅏ
                                저아ㅣ러지ㅏ러자ㅣㅓ리ㅏ절asdsadasdsdsadadasa sdasdsads </div>
                        </li>
                        <li>
                            <div class="summary-field">운영기간</div>
                            <div class="summary-field-content">2023.01.01~2023.12.31</div>
                        </li>
                        <li>
                            <div class="summary-field">신청기간</div>
                            <div class="summary-field-content">상시 모집</div>
                        </li>
                        <li>
                            <div class="summary-field">대상</div>
                            <div class="summary-field-content">대상인원</div>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="policy-box">

                <div class="policy-img-wrap">
                    <img class="policy-img" src="/images/test-img.jpg">
                </div>


                <div class="policy-content-wrap">
                    <div class="policy-content">
                    
                        <p>
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                        </p>
                        <br><br><br><br>
                        <p>
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                        </p>

                        <br><br><br><br>
                        <p>읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                            읍면동 주민센터 방문 접수
                            1.지원신청(주민센터)
                            - 가구원 중 청년이 신청
                            2.대상자 결정(시군구)
                            3.결과통보(시군구>대상자)
                            4.계좌개설(신청자/가입자)
                            5.지원금 적립(시군구)
                        </p>
                    </div>
                </div>

                <!-- 파일 -->
                <div class="file-zone">
                    <ul class="file-list">
                        <li>
                            <i class="fa-regular fa-file" style="color: black;"></i>
                            <span>첨부파일&#09;&#58;</span>
                        </li>
                        <li>
                            <a href="파일 경로/파일이름.확장자" download></a>
                            <span>관련공고문.hwp</span>
                            </a>
                        </li>
                        <li>
                            <a href="파일 경로/파일이름.확장자" download></a>
                            <span>관련공고문.hwp</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 목록 버튼 -->
                <div class="button-wrap">
                    <button class="list-btn" onclick="location.href='list.html'">
                        목록으로
                    </button>
                </div>

                

            </div> <!-- policy-box 끝--> 
        

            <div class="gotop-btn">
                <a href="#">TOP</a>
            </div>    

        </div> <!-- 디테일 전체 끝-->

    </main>     

</body>
</html>