<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uliieumi.customized.policy.domain.repository.mybatis.InterestListMapper">

    <select id="existByMemberIdAndPolicyId" resultType="Integer">
        SELECT count(id)
        FROM interest_list
        WHERE member_id = #{memberId}
        AND policy_id = #{policyId}
    </select>


    <insert id="addInterestList">
        INSERT INTO interest_list
        (member_id, policy_id)
        VALUE(#{memberId}, #{policyId})
    </insert>


    <delete id="removeInterestList">
        DELETE FROM interest_list
        WHERE member_id = #{memberId}
        AND policy_id = #{policyId}
    </delete>


    <select id="findByCondition" resultType="Policy">
        SELECT *
        FROM policy
        WHERE id
        IN
        (SELECT policy_id
        FROM interest_list
        WHERE member_id = #{memberId})
        LIMIT #{size} OFFSET #{startPostNum}
    </select>


    <!-- 페이징 관련 -->
    <select id="searchBoardCount" resultType="Integer">
        SELECT  count(id)
        FROM policy
        WHERE id
        IN
        (SELECT policy_id
        FROM interest_list
        WHERE member_id = #{memberId});
    </select>

</mapper>