<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uliieumi.customized.policy.domain.repository.mybatis.PolicyMapper">
    <select id="findAll" resultType="Policy" >
        SELECT * FROM policy LIMIT #{size} OFFSET #{startPostNum}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(id) from policy;
    </select>
</mapper>