<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="list.css">
    <link rel="stylesheet" href="reset.css">
</head>

<body>

    <div class="title">
        <h1>청년정책 통합검색</h1>
    </div>

    <button class="log-button">출력버튼</button>

    <div class="policy-search-wrap"> <!---여기 안으로 청년정책 검색 넣었는데도 가운데랑 안 맞음--->

        <div class="sub-title">
            <h3>청년정책 검색</h3>
        </div>

        <!--통합검색 테두리 안 -->
        <div class="policy-search-cont">

            <div class="simple-cont">
                <!--정책이름 및 내용-->
                <div class="policy-name">
                    <div class="search-title">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                        정책이름 및 내용
                    </div>
                    <div class="policy-name-input">
                        <input type="text" maxlength="100" size="50%" placeholder="검색 내용 입력하세요">
                    </div>
                </div>


                <!--나이 입력-->
                <div class="policy-age">
                    <div class="search-title">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                        연령
                    </div>
                    <div class="policy-age-input">
                        <input type="text" value placeholder="만 나이를 입력하세요"><label>세</label>
                    </div>
                </div>


                <!--정책 분야-->
                <div class="policy-area">
        
                    <div class="search-title">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                        정책분야
                        <div class="overlap">(중복선택 가능)</div>
                    </div>
        
                    <div class="area-select-box">

                        <ul class="area-list">
                            <div class="area-all-selector"> <!---여기만 div로 작성한 이유---->
                                전체
                            </div>
                            <li>
                                <label>공간</label>
                                <input type="checkbox" data-order="1" value="space" hidden>
                            </li>

                            <li>
                                <label>교육</label>
                                <input type="checkbox" data-order="2" value="education" hidden>
                            </li>

                            <li>
                                <label>금융</label>
                                <input type="checkbox" data-order="3" value="finance" hidden>
                            </li>

                            <li>
                                <label>생활지원</label>
                                <input type="checkbox" data-order="4" value="living" hidden>
                            </li>

                            <li>
                                <label>건강</label>
                                <input type="checkbox" data-order="5" value="health" hidden>
                            </li>

                            <li>
                                <label>일자리</label>
                                <input type="checkbox" data-order="6" value="job" hidden>
                            </li>

                            <li>
                                <label>주거</label>
                                <input type="checkbox" data-order="7" value="house" hidden>
                            </li>

                            <li>
                                <label>진로</label>
                                <input type="checkbox" data-order="8" value="career" hidden>
                            </li>

                            <li>
                                <label>창업</label>
                                <input type="checkbox" data-order="9" value="start-up" hidden>
                            </li>

                            <li>
                                <label>문화·예술</label>
                                <input type="checkbox" data-order="10 "value="culture" hidden>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="policy-region">
                    <div class="search-title">
                            <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                            지역
                        <div class="overlap">(중복선택 가능)</div>
                    </div>

                    <div class="region-select-box">
                        <ul class="region-list">
                            <div class="region-all-selector">
                                전체
                            </div>

                            <li>
                                <label>서울</label>
                                <input type="checkbox" data-order="1" value="Seoul" hidden>
                            </li>

                            <li>
                                <label>부산</label>
                                <input type="checkbox" data-order="2" value="Busan" hidden>
                            </li>

                            <li>
                                <label>대구</label>
                                <input type="checkbox" data-order="3" value="Daegu" hidden>
                            </li>

                            <li>
                                <label>인천</label>
                                <input type="checkbox" data-order="4" value="Incheon" hidden>
                            </li>

                            <li>
                                <label>광주</label>
                                <input type="checkbox" data-order="5" value="Gwangju" hidden>
                            </li>

                            <li>
                                <label>대전</label>
                                <input type="checkbox" data-order="6" value="Daejun" hidden>
                            </li>

                            <li>
                                <label>울산</label>
                                <input type="checkbox" data-order="7" value="Ulsan" hidden>
                            </li>

                            <li>
                                <label>경기</label>
                                <input type="checkbox" data-order="8" value="Gyungi" hidden>
                            </li>

                            <li>
                                <label>강원</label>
                                <input type="checkbox" data-order="9" value="Gangwon" hidden>
                            </li>

                            <li>
                                <label>충북</label>
                                <input type="checkbox" data-order="10" value="ChungBuk" hidden>
                            </li>

                            <li>
                                <label>충남</label>
                                <input type="checkbox" data-order="11" value="ChungNam" hidden>
                            </li>

                            <li>
                                <label>전북</label>
                                <input type="checkbox" data-order="12" value="JeanBuk" hidden>
                            </li>

                            <li>
                                <label>전남</label>
                                <input type="checkbox" data-order="13" value="JeanNam" hidden>
                            </li>

                            <li>
                                <label>경북</label>
                                <input type="checkbox" data-order="14" value="GyungBuk" hidden>
                            </li>

                            <li>
                                <label>경남</label>
                                <input type="checkbox" data-order="15" value="GyungNam" hidden>
                            </li>

                            <li>
                                <label>제주</label>
                                <input type="checkbox" data-order="16" value="Jeju" hidden>
                            </li>

                            <li>
                                <label>세종</label>
                                <input type="checkbox" data-order="17" value="Sejong" hidden>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>    

            <!--------------------------------- 상세 조건 check 박스 ------------------------------>
            <div class="detail-cont">

                <div class="detail-check">
                    <div class="detail-title">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                        취업상태
                        <span class="overlap">(중복선택 가능)</span>
                    </div>

                    <div>
                        <div class="job-state-open">
                            <button type="button">취업 상태 선택
                                <span>열기</span>
                            </button>
                        </div>
                        <ul class="job-state-list">
                            <div class="state-all-selector">
                                전체
                            </div>
                            <li>
                                <label>재직자</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>자영업자</label>
                                <input type="checkbox" data-order="2" value="employer" hidden>
                            </li>
                            <li>
                                <label>미취업자</label>
                                <input type="checkbox" data-order="3" value="unemploy" hidden>
                            </li>
                            <li>
                                <label>프리랜서</label>
                                <input type="checkbox" data-order="4" value="freelancer" hidden>
                            </li>
                            <li>
                                <label>일용근로자</label>
                                <input type="checkbox" data-order="5" value="daily" hidden>
                            </li>
                            <li>
                                <label>창업자</label>
                                <input type="checkbox" data-order="6" value="founder" hidden>
                            </li>
                            <li>
                                <label>단기근로자</label>
                                <input type="checkbox" data-order="7" value="short" hidden>
                            </li>
                            <li>
                                <label>기타</label>
                                <input type="checkbox" data-order="8" value="space" hidden>
                            </li>
                        </ul>
                    </div>
                </div>

            


                <div class="detail-check">
                    <div class="detail-title">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                        학력
                        <span class="overlap">(중복선택 가능)</span>
                    </div>

                    <div>
                        <div class="education-level-open">
                            <button type="button">학력 선택
                                <span>열기</span>
                            </button>
                        </div>
                        <ul class="education-level-list">
                            <div class="level-all-selector">
                                전체
                            </div>
                            <li>
                                <label>고졸 미만</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>고교 재학</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>고졸 예정</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>고교 졸업</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>대학 재학</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>대졸 예정</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>대학 졸업</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>석·박사</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>기타</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="detail-check">
                    <div class="detail-title">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1351b8;"></i>
                        특화분야
                        <span class="overlap">(중복선택 가능)</span>
                    </div>

                    <div>
                        <div class="special-area-open">
                            <button type="button">특화분야 선택
                                <span>열기</span>
                            </button>
                        </div>
                        <ul class="special-list">
                            <div class="special-all-selector">
                                전체
                            </div>
                            <li>
                                <label>저소득층</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>장애인</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>군인</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>농업인</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                            <li>
                                <label>지역인재</label>
                                <input type="checkbox" data-order="1" value="worker" hidden>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- 상세조건 끝  -->
        </div><!-- 통합검색 테두리 안  -->

        <div class="button-wrap">    
            <button type="reset">초기화</button>
            <button type="submit">검색</button>
        </div>
    </div>



    <script>
        const checkboxMap = new Map();
        const areaSelector = document.querySelector('.area-all-selector');
        const list = document.querySelectorAll(".area-list li");
        const openButton = document.querySelector(".job-state-open")
        const jobStateList = document.querySelector(".job-state-list")

        // 정책분야 - 다 선택 된 후 전체 선택 -> 체크 X
        //           1개 이상 선택 된 후 선택 시 -> 다 체크 O
        areaSelector.addEventListener("click", () => {
            if(checkboxMap.size === 10){
                list.forEach(li => {
                    li.classList.remove("checked");
                });
                checkboxMap.clear();
            }else{
                list.forEach(li => {
                    li.classList.add("checked");
                    const input = li.querySelector("input");
                    checkboxMap.set(input.dataset.order, input.value);
                });
            }
        })


        list.forEach(target => {
            target.addEventListener("click", () => {
                target.classList.toggle("checked");
                const input = target.querySelector("input");
                if(checkboxMap.has(input.dataset.order)){
                    checkboxMap.delete(input.dataset.order, input.value);
                }else{
                    checkboxMap.set(input.dataset.order, input.value);
                }
            });
        })


        
        openButton.addEventListener("click", () =>{
            jobStateList.classList.toggle("display-hide")
        })


        document.querySelector(".log-button").addEventListener("click", () => {
            console.log(checkboxMap);
        });

        
    </script>

</body>

</html>